.h3{
    color:#000;
    font-family: "LatoLight";
    font-size: 30px;
    height:36px;
    line-height: 36px;
    margin-bottom: 10px;
    font-weight: lighter;
    a{
        font-size: 20px;
        font-family: "LatoRegular";
        color:#2576bc;
    }
}
#banner-carousel{
    position: relative;
    div.banner-img{
        width:100%;
        height: 600px;
        overflow: hidden;
        position: relative;
        ul.banner{
            height:600px;
            position: absolute;
            left:0;
        }
    }
    div.banner-thumb{
        a{
            float:left;
            box-sizing: border-box;
            width:268px;
            height:70px;
            line-height: 70px;
            text-align: center;
            margin:0 10px;
            border-bottom:1px solid #ededed;
            background-position: 5% 50%;
            background-repeat: no-repeat;
            background-size: 42px;
            position: relative;
            &:hover{
                color:#8c8c8c;
            }
            &.active{
            color:#e60012;
            }
            &.line:after{
                content: '';
                width: 1px;
                position: absolute;
                top: 20px;
                bottom: 15px;
                left: -1px;
                background-image: -webkit-linear-gradient(top, #b2b2b2, #b2b2b2 1px, transparent 1px, transparent 3px);
                background-image: -moz-linear-gradient(top, #b2b2b2, #b2b2b2 1px, transparent 1px, transparent 3px);
                background-image: -o-linear-gradient(top, #b2b2b2, #b2b2b2 1px, transparent 1px, transparent 3px);
                background-image: linear-gradient(to bottom, #b2b2b2, #b2b2b2 1px, transparent 1px, transparent 3px);
                background-repeat: repeat-y;
                background-position: right top;
                -moz-background-size: 1px 4px;
                -o-background-size: 1px 4px;
                background-size: 1px 4px;
            }
        }
    }
    div.arrow{
        width:40px;
        height:104px;
        background-color:#e60012;
        position:absolute;
        top:248px; 
        transition: all .3s linear;
        cursor: pointer;
    }
    div.left{
        background-image: url(../img/index/arrow_left.png);
        background-position: center center;
        background-repeat: no-repeat;
        left:-40px;
    }
    div.right{
        background-image: url(../img/index/arrow_right.png);
        background-position: center center;
        background-repeat: no-repeat;
        right:-40px;
    }
}
#panel-show{
    width:1060px; 
    height:280px;
    margin:20px auto 0px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #dadada;
    div.panel-img{
        margin:0 auto;
        width:900px;
        height:200px;
        overflow: hidden;
        position: relative;
        ul{
            width:3600px;
            position: absolute;
            left:0px;
            transition: all .5s linear;
            li{
                float:left;
                width: 300px;
                height:210px;
                text-align: center;
                background-image: url(../img/index/sprite-logos.png);
                background-repeat: no-repeat;
                background-position: -135px -442px;
                cursor: pointer;
                img{
                    border-bottom: 3px solid #e60012;
                }
            }
        }
    }
    div.panel-circle{
        width:300px;
        height:10px;
        margin:30px auto; 
        display: flex;
        justify-content: space-between;
        p{
            width:23%;
            height:8px;
            border:1px solid #999;
            border-radius: 20px;
            cursor:pointer;
            &.chose{
                background: #e60012;
                border-color: #e60012;
            }
        }
    }
    p.arrow{
        width:40px;
        height:40px;
        position: absolute;
        top:61px;
        background-color: #e60012; 
        background-repeat: no-repeat;
        background-position: center center;
        transition: all .3s linear;
        cursor: pointer;
    }
    p.panel-left-arrow{
        background-image: url(../img/index/arrow_left.png);
        left:-40px;
    }
    p.panel-right-arrow{
        background-image: url(../img/index/arrow_right.png);
        right:-40px;
    }
}
#platforms{
    width:1060px;
    height:380px;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 1px solid #dadada;
    .h2{
        text-align: center;
        font-size: 44px;
        color:#000;
        font-family: "LatoLight";
        margin-bottom:10px;
        font-weight: lighter;
    }
    ul.platform{
        width:1060px;
        display: flex;
        justify-content: space-between;
        li{
            width:310px;
            img{
                transition: all .3s linear;
            }
            p{
                text-align: center;     
                font-size:20px;
                color:#777;
                font-family: "LatoBold";
                margin:5px 0;
                &:last-child{
                    font-size: 16px;
                    color:#999;
                    margin:0;
                }
            }
        }
        li:hover{
            img{
                transform: scale(1.1);
            }
            p{
                color:#25adf3;
            }
        }
    }
}
#new-amiibo{
    width:1060px;
    height:404px;
    margin:0 auto;
    padding: 30px 0;
    border-bottom: 1px solid #dadada;
    ul.amii-pic{
        width:1060px;
        display: flex;
        justify-content: space-between;
        li{
            width:23%;
            text-align: center;
            color:#999;
            img{
                width:224px;
                height:240px;
                transition: all .3s linear;
            }
            p{
                font-size: 16px;
                font-family: "LatoBold";
                &:nth-child(2){
                    color:#777;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
                color:#25adf3;
                p:nth-child(2){
                    color: #25adf3;
                }
            }
        }
    }
}
#new-games{
    width:1060px;
    height:615px;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom:1px solid #dadada;
    display: flex;
    .h3{
        margin-bottom: 30px;
    }
    .left{
        width:33.3%;
        ul{
            li{
                width:220px;
                height:139px;
                margin-bottom: 30px;
                font-size: 16px;
                a{
                    font-family: "LatoBold";
                    color:#2576bc;
                    font-weight: bolder;
                }
            }
        }
    }
    .right{
        width:66.7%;
        ul{
            display: flex;
            flex-wrap: wrap;
            width:644px;
            li{
                width:50%;
                height:237px;
                box-sizing: border-box;
                padding:0 10px 7px 0;
                color:#777; 
                font-size: 18px;
                a{
                    display: flex;
                    img{
                        width:140px;
                    }
                }
                div.info{
                    margin-left:6px;
                    div.date{
                        border-color:#ce181e;
                    }
                    p{
                        font-family: "LatoBold";          
                        margin-bottom: 10px;
                    }
                    p:last-child{
                        color:#999;
                        font-size: 14px;
                        font-weight: lighter;
                    }
                }
                &:hover{
                    a>div.info>p{
                        color:#25adf3;
                        &:last-child{
                            color:#ce181e;
                            font-weight: bold;
                        }
                    }
                }
            }
            li:nth-child(2n){
                border-left:1px solid #dadada;
                padding-left: 10px;
            }
            li:nth-child(3){
                border-top:1px solid #dadada;
                padding-top: 12px;
            }
            li:last-child{
                border-top: 1px solid #dadada; 
                padding-top: 12px;
            }
        }
    }
    .date{
        border-bottom: 3px solid #dadada;
        color: #999;
        display: inline-block;
        font-size: 16px;
        font-family: 'LatoBold';
        padding-bottom: 5px;
        margin-bottom: 30px;
    }
}
#static-promos{
    width:1060px;
    height:232px;
    padding: 30px 0 60px;
    margin:0 auto;
    ul{
        width: 100%;
        display: flex;
        li{
            width: 25%;
            p{
                width:224px;
                height:48px;
                line-height:24px;
                font-size:16px;
                color:#777;
                font-family: "LaoRegular";
                margin-top: 10px;
            }
        }
    }
}